* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
a,li{
    text-decoration: none;
    list-style: none;
    color: black;

}
@font-face {
    font-family: 'Ruhl';
    src: url(./fonts/LibreFranklin-VariableFont_wght.ttf);
}
@font-face {
    font-family: 'Vibes';
    src: url(./fonts/GreatVibes-Regular.ttf);
}
html{
    font-size: 62.5%;
    --header1:calc(3.5rem + 1vw);
    --header2:calc(3rem + 1vw);
    --header3:calc(2.4rem + 1vw);
    --header4:calc(2rem + 1vw);
    --text:calc(1rem + 1vw);
    --special-color:#906272;
    --background-color:#414141;
    --gray-text:#525252;


}
h1{font-size: var(--header1);}
h2{font-size: var(--header2);}
h3{font-size: var(--header3);}

body{
    font-family: "Popins", sans-serif;
    animation: opening 2s ease-in-out;
}
h1{
    font-size: var(--header1);
}
li,button,label,input,p,a{ 
    font-size: var(--text);    
}

.flex{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
h1{
    font-family: "Vibes";
}
/* nav section */
nav{
    width: 90%;
    margin: auto;
    display: flex;
    align-items: center;
    min-height: 10vh;
    padding: 1rem 0;
}
.logo{
    flex: 1 1 30rem;
}
.nav-links{
    display: flex;
    flex: 1 1 20rem;
    justify-content: space-around;
}
.main-head{
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.13);
    
}

.hero{
    min-height: 90vh;
    width: 95%;
    margin: 0 0 0 auto;
    display: flex;
    flex-wrap: wrap;
}
.hero-intro{
    flex: 3 1 30rem;
    text-align: center;
    min-height: 60vh;
}
.hero-intro h3{
    margin-bottom: 4rem;
}
.hero-intro a{
    border: 3px solid black;
    margin: 3rem 0;
    padding: 1rem 2rem;
    
}
.hero-img{
    flex: 1 1 35rem;
    position: relative;
}

.main-image img{
    width: 100%;
    height: 100%;  
         
}
.main-image{
    height: 90vh;

}
.png img{
    width: 100%;
}
.png{
    position: absolute;
    bottom: 0%;
    left: 0%;
    animation: flower-entrance 1.5s ease-in-out forwards;

}
/* animation */
@keyframes opening {
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }  
}

@keyframes flower-entrance{
    from{
        transform: translateY(40%);
    }
    to{
        transform: translateY(0%);

    }
}
.menu-check{
    display: none;
}
@media  screen and (max-width:800px) {
    .hero{
        width: 100%;
    }
    
    .burger span{
        padding: 0.2rem 1.8rem;
        margin: 0.5rem 0;
        background-color: var(--gray-text);
        display: block;

    }
    .nav-links a{
        color: white;
        font-size: var(--header4);
    }
    .nav-links{
        z-index: 1;
        background-color: var(--background-color);
        position: fixed;
        width: 100%;
        height: 20%;
        top: 0%;
        transform: translateY(-100%);
        left: 0%;
        flex-direction: column;
        align-items: center;
        transition: transform 1s ease-in-out;
    }
    .menu-check{
        display:inline;
        position: absolute;
        top: 5%;
        right: 4%;
        transform: translate(5%,-50%); 
        width: 5rem;
        height: 4rem;
        cursor: pointer;
        opacity: 0;
        z-index: 10
        
    }
    .menu-check:checked + .nav-links{
        transform: translateY(0%);

    }
    .menu-check:checked ~ .burger span{
        background: white;     
    } 
    
    
}

